.skills__section>h2 {
	color: oklch(71.2% 0.194 13.428);
}

.skills__list {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;

	padding-block: 1rem 0;

	list-style-type: none;
}

.skill {
	display: flex;
	column-gap: 0.5em;

	padding: 0.5em 1em;

	border: 1px solid transparent;
	border-radius: 0.45rem;

	background-color: oklch(44.2% 0.017 285.786);

	&:hover {
		border-color: oklch(81% 0.117 11.638);
	}

	&>img {
		width: 1.25em;
		aspect-ratio: 1;
	}
}
