* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* TODO: Write the css for scrollbar here. */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
footer {
	&::selection {
		background-color: var(--_clr-selection);
	}
}

html {
	/* Automatically sets a light and dark theme. */
	color-scheme: dark;
}

html,
body {
	width: 100%;
	height: 100%;

	font-family: system-ui, sans-serif;
}

#root {
	width: 100%;
	height: 100%;
}

a,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;

	color: var(--clr-select);

	/* This is for the case when we are using a link icon. */
	&>svg {
		fill: var(--clr-select);
	}
}

address {
	font-style: normal;
}

img {
	/* when displaying alternate text it should look different from normal text around the image. */
	font-style: italic;
}

ul {
	list-style-type: none;
}
