.anim-underline {
	--_clr-underline: var(--clr-underline, #fff);
	--_w-underline: var(--w-underline, 70%);

	position: relative;

	&::after {
		content: "";

		display: block;

		width: 0%;
		height: 1px;

		position: absolute;
		left: calc((100% - var(--_w-underline)) / 2);

		background-color: var(--_clr-underline);

		transition:
			width linear 0.5s;
	}

	&:hover::after {
		width: var(--_w-underline);
	}
}

.bold {
	font-weight: bold;
}

.button {
	padding: var(--p-button);
	border: 1px solid transparent;

	&:hover {
		border: 1px solid var(--clr-select);
		border-radius: 100vw;

		color: var(--clr-select);
		text-decoration: none;
	}
}

/* NOTE: If we have two elements such that one is nested inside the other and the internal element contains all the contents and the external one exists for semantic meaning only (or some other purpose), we must always give the `container--padded` class to the internal element and not the external element.
 * In short, `container--padded` class is to be given to the immediate parent that contains all elements and not a grand-parent container that only contains the parent container element. */
.container--padded {
	padding: var(--p-container);
}

.section--border {
	border: 2px solid;
	border-radius: 1rem;
}

.text-highlight {
	/* Using `em` makes sure that we are not setting a fixed highlight size for text but just always keeping it larger tthan the other text around it. */
	font-size: 1.5em;
}

.pf-icon {
	width: 1.6rem;
	height: 1.6rem;
}

.w-fit-content {
	width: fit-content;
}

/* TODO: Create an animation in which anything that we hover over is highglighted as such:
 * - It gets a box shadow which makes it appear as if it moved in the z-axis.
 * - It gets a color highlight around it, if it's text/svg then we have the `color` change, if it's a container then we have the `border-color` change, otherwise nothing changes.
 * - The animation would be created as a keyframes however, we'll apply if various elements by default. If required, we can make it a class.
*/
