.navbar {
	width: 100%;

	font-size: 0.9375rem;
	text-transform: uppercase;

	&::after {
		content: "";

		display: block;

		width: 95%;
		height: 1px;
		margin-inline: auto;

		background-color: #fff;
	}
}

.navbar__list {
	width: fit-content;
	padding-block: 1rem;
	margin-inline: auto;

	&>li {
		display: inline;
	}
}
