nav {
	position: sticky;
	top: 0%;

	height: var(--nav-height);
	padding-block: 0.5rem;
}

.nav__list {
	/* We are setting this variable because we want a consistent horizontal spacing which includes `gap` & `padding` & we want them to always be same. */
	--inline-spacing: 1rem;

	display: flex;
	justify-content: center;
	column-gap: var(--inline-spacing);

	width: fit-content;
	margin-inline: auto;
	padding: 0.5rem calc(1.5 * var(--inline-spacing));

	border-radius: 100vw;

	background-color: transparent;
	backdrop-filter: blur(10px);

	font-size: 1.25rem;

	&>li {
		padding: 0.25rem 1rem;

		border-radius: 100vw;
		border: 2px solid transparent;

		&:hover {
			border-color: var(--highlight-color);
			color: var(--highlight-color);
		}
	}
}
