.navbar {
	width: 100%;
	height: fit-content;

	font-size: 1.25rem;
	font-weight: 700;

	&::after {
		content: "";

		display: block;

		width: 95%;
		height: 1px;
		margin-inline: auto;

		background-color: #fff;
	}

	&>ul {
		display: flex;
		justify-content: center;

		&>li {
			/* Here we are giving this padding so that the border that we created to appear as divider appears in the middle of two elements.
			 * This can't be done using `margin` as `border` appears inside `margin` and we want it to appear outside the gap that we create. */
			padding: 0 0.75em;
			border-left: 1px solid;

			&:first-child {
				border: none;
			}
		}
	}
}
