.projects {
	padding: var(--p-section);
}

.project__card {
	padding: var(--p-mob-med);

	border: 1px solid;
	border-radius: 1rem;

	text-align: justify;

	&>h2 {
		text-align: center;
		text-decoration: underline;

		font-size: 1.45rem;
	}

	&>ul {
		list-style-type: square;
	}
}
