* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--colorscheme: dark;
	--scheme: dark;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	/* it is correct but the the lsp will scream at me */
	background-color: if(style((--scheme: dark) or (--scheme: very-dark)): black; );
}
